$white: #fff;
$concrete: #f3f3f3;
$dusty-grey: #949494;
$primary-base-color: #f26323;
$primary-dark-color: #d1490c;
$primary-light-color: #f69e77;

$yellow: #CCD800;
$pink: #FC5F9D;
$black: #000;
$dark: #1E1E1E;
$gray: #C1BCB3;
$light-gray: #F5F5F5;
$border-color: #c6c6c6;
$border-light: #ddd;
$light-bg: #eee;
$red: #FF0000;
$light-text: #797979;
$light-price: #a4a4a4;

$font-montserrat: 'Montserrat', sans-serif;
$font-standard-size: 18px;
$font-mobile-size: 18px;
